.et_pb_menu_0_tb_header.et_pb_menu {

  ul {
    li {
      a:hover {
        font-weight: 300;
      }
    }
  }
}

.et_pb_menu_0_tb_header.et_pb_menu {
  ul{

    li.current-menu-item{

      a {
         font-weight: 300;
      }
    }
  }
}


@media (min-width: 980px) {
  
  .et_pb_fullwidth_menu--without-logo .et_pb_menu__menu>nav>ul>li>a, .et_pb_menu--without-logo .et_pb_menu__menu>nav>ul>li>a {
    padding-left: 50px;
    padding-right: 50px;
  }  
}


@media only screen and (max-width:980px) and (min-width:320px) {
  .et_pb_menu__menu {
  display: block !important;
  }
  #et_mobile_nav_menu, .et_mobile_nav_menu { 
    display: none!important;
  }
}