@charset "UTF-8";
/*!
 Theme Name:     Atelier Calypso
 Theme URI:      http://wptheme.fr/theme-wordpress-divi/
 Description:    Theme Enfant Divi
 Author:         WPTheme.fr
 Author URI:     http://wptheme.fr/
 Template:       Divi
 Version:        2020
*/
/* =Vous pouvez personnalisez à partir d'ici. 
------------------------------------------------------- */
/******************************************
  IMPORTS
******************************************/
.et_pb_menu_0_tb_header.et_pb_menu ul li a:hover {
  font-weight: 300;
}

.et_pb_menu_0_tb_header.et_pb_menu ul li.current-menu-item a {
  font-weight: 300;
}

@media (min-width: 980px) {
  .et_pb_fullwidth_menu--without-logo .et_pb_menu__menu > nav > ul > li > a, .et_pb_menu--without-logo .et_pb_menu__menu > nav > ul > li > a {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (max-width: 980px) and (min-width: 320px) {
  .et_pb_menu__menu {
    display: block !important;
  }

  #et_mobile_nav_menu, .et_mobile_nav_menu {
    display: none !important;
  }
}
a {
  color: #707070;
}

.important-word {
  font-weight: 400;
  font-size: 20px;
  color: #546b43;
}

.baseline {
  position: absolute !important;
  top: calc(34% - 45px);
  left: 0;
  right: 0;
}

.baseline .et_pb_code_inner h1 {
  color: white;
  font-family: "Abril Fatface";
  font-size: 50px;
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .baseline .et_pb_code_inner h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .baseline .et_pb_code_inner h1 {
    font-size: 30px;
    padding-top: 50px;
  }
}