.baseline {
  position: absolute !important;
  top: calc(34% - 45px);
  left: 0;
  right: 0;
}

.baseline .et_pb_code_inner h1 {
  color: white;
  font-family: 'Abril Fatface';
  font-size: 50px;
}

@media only screen and (max-width:1200px) and (min-width:768px) {
  .baseline .et_pb_code_inner h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width:768px) and (min-width:320px) {
  .baseline .et_pb_code_inner h1 {
    font-size: 30px;
    padding-top: 50px;
  }
}